<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
    <div class="registration-form" [formGroup]="registrationForm">
        <div>
            <div class="form__control">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" formControlName="name" placeholder="Input text"/>
                <span id="nameErrorMessage" *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">Name is required.</span>
            </div>
            <div class="form__control">
                <label for="email">Email</label>
                <input type="text" id="email" formControlName="email" name="email" placeholder="Input text"/>
                <span id="emailErrorMessage" *ngIf="email.invalid && (email.dirty || email.touched)"
                      class="text-danger">Email is required.</span>
            </div>
            <div class="form__control">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" name="password"
                       placeholder="Input text"/>
                <span id="passwordErrorMessage" *ngIf="password.invalid && (password.dirty || password.touched)"
                      class="text-danger">Password is required.</span>
            </div>
        </div>
        <div class="form__action">
            <app-button buttonText="Login"></app-button>
        </div>
        <div class="form__text">
            If you have an account you may <strong>Login</strong>
        </div>
    </div>
</div>
