<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm">
    <div class="login-form">
      <div>
        <div class="form__control">
          <label for="email">Email</label>
          <input type="text" id="email" required emailValidator #email="ngModel" name="email" [(ngModel)]="credentials.email" placeholder="Input text"/>
          <span id="emailErrorMessage" *ngIf="email.invalid && (email.touched || email.dirty)" class="text-danger">Email is required.</span>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <input type="password" id="password" #password="ngModel" required name="password" [(ngModel)]="credentials.password" placeholder="Input text"/>
          <span id="passwordErrorMessage" *ngIf="password.invalid && (password.touched || password.dirty)" class="text-danger">Password is required.</span>
        </div>
      </div>
      <div>
        <div class="form__action">
          <app-button buttonText="Login" (click)="login()"></app-button>
        </div>
        <div class="form__text">
          If you don't have an account you may <strong>Registration</strong>
        </div>
      </div>
    </div>
  </form>
</div>
